      <div class="container content">
        <div class="row">
            <div class="panel panel-dashboard full-width">
                <ol class="breadcrumb panel-heading panel-heading-cbj">
                  <li><a href="/advertisement">广告</a></li>
                  <li class="active">广告发送-请选设备</li>
                </ol>
                <div class="panel-body">
                    <form class="form-inline" action="/advertisement/<%=req.param('id')%>/device/search" name="search-form" method="get">
                    <div class="form-group">
                        <select class="form-control" id="type" name="locationType">
                            <%
                                if(req.param("locationType")&&req.param("locationType")!=""){
                                %>
                                <option value="<%=req.param('locationType')%>" selected><%=req.param('locationType')%></option>
                                <%
                                }
                                %>
                            <option value="">所有位置类</option>
                            <option value="公交站">公交站</option>
                            <option value="公交车">公交车</option>
                            <option value="电梯">电梯</option>
                            <option value="路名牌">路名牌</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="state" name="state">
                            <%
                                if(req.param("state")&&req.param("state")!=""){
                                %>
                                <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                <%
                                }
                                %>
                            <option value="">所有省</option>
                            <option value="广东省">广东省</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="city" name="city">
                            <%
                                if(req.param("city")&&req.param("city")!=""){
                                %>
                                <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                <%
                                }
                                %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="region" name="region">
                            <%
                                if(req.param("region")&&req.param("region")!=""){
                                %>
                                <option value="<%=req.param('region')%>" selected><%=req.param('region')%></option>
                                <%
                                }
                                %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="street" name="street">
                            <%
                                if(req.param("street")&&req.param("street")!=""){
                                %>
                                <option value="<%=req.param('street')%>" selected><%=req.param('street')%></option>
                                <%
                                }
                                %>
                        </select>
                    </div>
                    <button onClick="document.forms['search-form'].submit();" class="btn btn-primary right">搜索</button>         
                    </form>
                    
                </div>
                <div class="panel-body">
                <form name="add-device-form" action="/advertisement/<%=req.param('id')%>/device" method="post">
                <table class="table table-striped" id="table">
                    <thead>
                    <tr><th>名</th><th>位置类型</th><th>省</th><th>城市</th><th>地区</th><th>街道</th><th> 全选 <input id="check-all" type="checkbox"/></th></tr>
                    </thead>
                    <tbody>
                <%
                var row;
                while (resultArr.length) {
                  row = resultArr.pop();
                %>
                    <tr><td><a href="/device/<%=row.id%>"><%=row.identifier%></a></td><td><%=row.locationType%></td><td><%=row.state%></td><td><%=row.city%></td><td><%=row.region%></td>
                    <td><%=row.street%></td>
                    <td><input name="device[]" type="checkbox" value="<%=row.id%>"/></td>
                    </tr>
                <%
                }
                %>
                    </tbody>
                </table>
                <br>
                    <button onClick="javascript: window.history.back();" class="btn btn-default right">取消</button>
                    <button class="btn btn-primary right" id="add-device" onClick="javascript: document.forms['add-device-form'].submit();">发送</button>
                
                </form>
                </div>
                
            </div>
        </div>
      </div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script>
    $("#table").DataTable({"language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
        }});
</script>
    <script>
    $('#check-all').change(function () {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function(){

            populateCity();
            populateRegion();
            populateStreet();
            
        });
        function populateCity(){
        var selectedState = $("#state option:selected").text();
        if(selectedState=="所有省"||selectedState==""){
                $("#city").append("<option value=''>所有城市</option>");
                return;
            }     
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
            console.log("city");
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          }).error(function(err){
            console.log("all city");
          $("#city").append("<option value=''>所有城市</option>");
          });
        }
        function populateRegion(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        if(selectedCity=="所有城市"||selectedCity==""){
            $("#region").append("<option value=''>所有地区</option>");
            return;
        }
        $.ajax({
        url: "/geo/region?state="+selectedState+"&city="+selectedCity,
        }).done(function(data){
          //alert(data);
          $("#region").append("<option value=''>所有地区</option>");
          html = "";
          while (data.length) {
            var region = data.pop();
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            //code
          }
          $("#region").append(html);
          });
        }
            
        function populateStreet(){
            var selectedState = $("#state option:selected").text();
            var selectedCity = $("#city option:selected").text();
            var selectedRegion = $("#region option:selected").text();
            if(selectedRegion=="所有地区"||selectedRegion=="") {
                $("#street").append("<option value=''>所有街道</option>");
                return;
            }
            
            $.ajax({
            url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
            }).done(function(data){
              //alert(data);
              $("#street").append("<option value=''>所有街道</option>");
              html = "";
              while (data.length) {
                var street = data.pop();
                option = "<option value='"+street+"'>"+street+"</option>";
                html = html + option;
                //code
              }
              $("#street").append(html);
            });
        }
    /*
    $("#state").change(function(){
        var selectedState = $("#state option:selected").text();
        $("#city").empty();
        $("#region").empty();
        $("#street").empty();
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
          $("#city").empty();
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
      });
    */
    $("#state").change(function(){
            $("#city").empty();
            $("#region").empty();
            $("#region").append("<option value=''>所有地区</option>");
            $("#street").empty();
            $("#street").append("<option value=''>所有街道</option>");
            populateCity();
        });
        $("#city").change(function(){
            $("#region").empty();
            $("#street").empty();
            $("#street").append("<option value=''>所有街道</option>");
            populateRegion();
        });
        $("#region").change(function(){
            $("#street").empty();
            populateStreet();
        });
    
    
    </script>
      
    
