    
      <div class="container content">
        <div class="row">
            <div class="panel panel-dashboard full-width">
                <ol class="breadcrumb panel-heading-cbj">
                  <li class="active">广告</li>
                </ol>
                <div class="panel-body">
                    
                    <button class="btn btn-primary right" onClick="javascript: window.location.href='/advertisement/client'">创建</button>
                </div>
                <div class="panel-body">
                <form class="form-inline" name="form" action="/device/search" method="get">
                <table class="table table-striped" id="table">
                    <thead>
                        <tr><th>广告图</th><th>题目</th></th><th>客户商家</th><th></th></tr>
                    </thead>
                    
                    <tbody>
                <%
                var row;
                while (resultArr.length) {
                  row = resultArr.pop();
                %>
                    <tr>
                        <td>
                            <%
                            if(row.advertisementImage!=null){
                                var image = row.advertisementImage;
                            %>
                                              
<a href="/advertisement/<%=row.id%>"><img class="img-thumbnail" height="140px" width="140px" src="http://res.cloudinary.com/djdts3tqq/image/upload/v<%=image.imageVersion%>/<%=image.imagePublicId%>.<%=image.imageFormat%>"></a>
                            <%
                            }
                            %>
                        </td>
                        <td style="vertical-align: middle;"><%=row.title%></td>
                        <td style="vertical-align: middle;">
                        <%
                            var clientName = "";
                            if(row.client!=null){
                                clientName = row.client.name;
                            }
                        %>
                        <%=clientName%></td><td style="vertical-align: middle;"><a style="display: none;" class="btn btn-danger" onClick="javascript: destroy('<%=row.id%>');">删除</a>
                    <a href="/advertisement/<%=row.id%>/deploy" class="btn btn-info">设备发送</a>
                    </td></tr>
                <%
                }
                %>
                    </tbody>
                </table>
                </form>
                </div>

            </div>
        </div>
       
      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
    </script>
    <script>
        function destroy(rowId){
            document.form.action = "/advertisement/destroy/"+rowId;
            document.form.method = "post";
            document.form.submit();
        }
        function deploy(rowId){
            
        }
    </script>
      

