<div class="container content">
        <div class="row">
            <div class="col-md-4"><div class="well">
                <h3>推广请求</h3>
                <div class="list-group">
                <%
                    var request = null;
                    while(requests.length){
                        request = requests.pop();
                        if(request.client){
                %>
                    <li class="list-group-item">
                    <a href="/client/<%=request.client.id%>"><mark><%=request.client.name%></mark></a>
                    - 
                    
                    <span class="badge"><%=request.city%></span>

                </li>
                <%
                        }
                    }
                %>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" onClick="javascript: document.location.href='/request/read?request='">
                    所有请求
                    </button>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>昨天数据</h3>
                <%
                if(yesterdayData==null){
                %>
                <form action="/generateYesterdayData" method="post">
                <p style="text-align:justify"><p>
                    <button class="btn btn-primary" type="submit">
                    计算
                    </button>
                </p>
                </form>
                <%
                }else{
                %>
                <div class="list-group">
                <li class="list-group-item">
                日期: <%=yesterdayData.date%>
                </li>
                <li class="list-group-item">
                用户总量: <%=yesterdayData.totalAppUser%>
                </li>
                <li class="list-group-item">
                新增用户: <%=yesterdayData.totalNewUser%>
                </li>
                <li class="list-group-item">
                点击量: <%=yesterdayData.totalAccess%>
                </li>
                <li class="list-group-item">
                消费统计: <%=yesterdayData.totalCharge%> 元
                </li>

                </div>
                <%
                }
                %>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>到期提醒</h3>
                <div class="list-group">
                <%
                    var ad;
                    while(advertisementsExpire.length){
                        ad = advertisementsExpire.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=ad.client.id%>"><mark><%=ad.client.name%></mark></a>
                    - 
                    <a href="/advertisement/<%=ad.id%>"><mark><%=ad.title%></mark></a>
                    
                    <span class="badge"><%=moment().to(moment(ad.expire_date))%></span>

                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" onClick="javascript: document.location.href='/request/read?request='">
                    所有到期
                    </button>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>余额提醒</h3>
                <div class="list-group">
                <%
                    var clientAccount = null;
                    while(clientsAccount.length){
                        clientAccount = clientsAccount.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=clientAccount.id%>"><mark><%=clientAccount.name%></mark></a>
                    <span class="badge">
                        <%=clientAccount.account%>元</span>
                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" onClick="javascript: document.location.href='/request/read?request='">
                    所有余额
                    </button>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>故障提醒</h3>
                <div class="list-group">
                <%
                    var faultDevice = null;
                    while(faultDevices.length){
                        faultDevice = faultDevices.pop();
                %>
                <li class="list-group-item">
                    <a href="/device/<%=faultDevice.device%>"><mark><%=faultDevice.device%></mark></a>
                    <span class="badge"><%=moment(faultDevice.accessDate).fromNow()%></span>
                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" onClick="javascript: document.location.href='/request/read?request='">
                    所有故障
                    </button>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>点击排行</h3>
                <div class="list-group">
                <%
                    var clientAccess = null;
                    while(clientsAccess.length){
                        clientAccess = clientsAccess.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=clientAccess.id%>"><mark><%=clientAccess.name%></mark></a>
                     <span class="badge"><%=clientAccess.accessCount%></span>
                </li>
                    
                <%
                    }
                %>
                  
                </div>
                <p>
                    <button class="btn btn-primary" type="button" onClick="javascript: document.location.href='/request/read?request='">
                    所有排行
                    </button>
                </p>
                
                
            </div></div>
        </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>