<div class="container content">
        <div class="row">
            <div class="col-md-4"><div class="well">
                <h3>推广请求</h3>
                
                <div class="list-group">
                <%
                    var request = null;
                    while(requests.length){
                        request = requests.pop();
                        if(request.client){
                %>
                    <li class="list-group-item">
                    <a href="/client/<%=request.client.id%>"><mark><%=request.client.name%></mark></a>
                    <span class="badge"><%=request.city%></span>

                </li>
                <%
                        }
                    }
                %>
                </div>
                <p>
                    <a class="btn btn-primary" href="/request/findFromDashboard">
                    所有请求
                    </a>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>昨天数据</h3>
                <%
                if(yesterdayData==null){
                %>
                <form action="/generateYesterdayData" method="post">
                <p style="text-align:justify"><p>
                    <button class="btn btn-primary" type="submit">
                    计算
                    </button>
                </p>
                </form>
                <%
                }else{
                %>
                <div class="list-group">
                <li class="list-group-item">
                日期: <%=yesterdayData.date%>
                </li>
                <li class="list-group-item">
                用户总量: <%=yesterdayData.totalAppUsers%>
                </li>
                <li class="list-group-item">
                新增用户: <%=yesterdayData.totalNewAppUsers%>
                </li>
                <li class="list-group-item">
                点击量: <%=yesterdayData.totalAccess%>
                </li>
                <li class="list-group-item">
                消费统计: <%=yesterdayData.totalCharged%> 元
                </li>

                </div>
                <%
                }
                %>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>到期提醒</h3>
                <div class="list-group">
                <%
                    var ad;
                    while(advertisementsExpire.length){
                        ad = advertisementsExpire.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=ad.client.id%>"><mark><%=ad.client.name%></mark></a>
                    - 
                    <a href="/advertisement/<%=ad.id%>"><mark><%=ad.title%></mark></a>
                    
                    <span class="badge"><%=moment().to(moment(ad.expiredDate))%></span>

                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <a class="fancyboxIframe btn btn-primary" href="/advertisement/expired-date-reminder?omitNavigation=omitNavigation">
                    所有到期
                    </a>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>余额提醒</h3>
                <div class="list-group">
                <%
                    var clientAccount = null;
                    while(clientsAccount.length){
                        clientAccount = clientsAccount.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=clientAccount.id%>"><mark><%=clientAccount.name%></mark></a>
                    <span class="badge">
                        <%=clientAccount.account.toFixed(2)%>元</span>
                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <a class="fancyboxIframe btn btn-primary" href="/client/balance-reminder?omitNavigation=omitNavigation">
                    所有余额
                    </a>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>故障提醒</h3>
                <div class="list-group">
                <%
                    var faultDevice = null;
                    while(faultDevices.length){
                        faultDevice = faultDevices.pop();
                        var deviceName = faultDevice.identifier;
                        if(faultDevice.identifier==""||faultDevice.identifier==undefined)
                            deviceName = faultDevice.device;
                        
                %>
                <li class="list-group-item">
                    <a href="/device/<%=faultDevice.device%>"><mark><%=deviceName%></mark></a>
                    <span class="badge"><%=moment(faultDevice.accessDate).fromNow()%></span>
                </li>
                <%
                    }
                %>
                </div>
                <p>
                    <a class="btn btn-primary" href="/DeviceMonitor/fault-device-reminder">
                    所有故障
                    </a>
                </p>
            </div></div>
            <div class="col-md-4"><div class="well">
                <h3>点击排行</h3>
                <div class="list-group">
                <%
                    var clientAccess = null;
                    while(clientsAccess.length){
                        clientAccess = clientsAccess.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=clientAccess.id%>"><mark><%=clientAccess.name%></mark></a>
                     <span class="badge"><%=clientAccess.accessCount%></span>
                </li>
                    
                <%
                    }
                %>
                  
                </div>
                <p>
                    <a class="fancyboxIframe btn btn-primary" href="/client/click-ranking?omitNavigation=omitNavigation">
                    所有排行
                    </a>
                </p>
                
                
            </div></div>
        </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>


<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script>
</script>

<script>
    
    $(document).ready(function(){
        
        $(".fancyboxIframe").fancybox({
            type: 'iframe',
            maxWidth	: 900,
            maxHeight	: 600,
            fitToView	: false,
            width		: '70%',
            height		: '70%',
            autoSize	: false,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    } );

</script>


