

      <div class="container content">
        <div class="row">
            <div class="panel panel-dashboard full-width">
                <div class="panel-heading panel-heading-cbj">
                    设备分发数据
                </div>
                <div class="panel-body">

                    <form class="form-inline" method="get" action="/data/access-device">
                        <div class="panel-elem">
                    <div class="form-group">
                            <label>地区</label>
                            <select class="form-control" id="locationType" name="locationType">
                                <%
                                if(req.param("locationType")&&req.param("locationType")!=""){
                                %>
                                <option value="<%=req.param('locationType')%>" selected><%=req.param('locationType')%></option>
                                <%
                                }
                                %>
                                <option value="">所有位置类</option>
                                <option value="公交站">公交站</option>
                                <option value="公交车">公交车</option>
                                <option value="电梯">电梯</option>
                                <option value="路名牌">路名牌</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="s1" name="state">
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="s2" name="city">
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="s3" name="region">
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="street" name="street">
                                 <%
                                if(req.param("street")&&req.param("street")!=""){
                                %>
                                <option value="<%=req.param('street')%>" selected><%=req.param('street')%></option>
                                <%
                                }
                                %>

                            </select>
                        </div>

                        <div class="pull-right">
                                <div class="form-group">
                                <label>时间</label>
                                <select class="form-control" id="duration" name="duration">
                                    <%
                                    if(req.param("duration")&&req.param("duration")!=""){
                                        var durationStr = [];
                                        durationStr["7"] = "最近7日";
                                        durationStr["30"] = "最近1个月";
                                        durationStr["90"] = "最近3个月";
                                        durationStr["define"] = "自定义";
                                        var duration = req.param("duration");
                                        var duration2 = durationStr[duration];
                                    %>

                                    <option value="<%=req.param('duration')%>" selected><%=duration2%></option>
                                    <%
                                    }
                                    %>
                                    <option value="7">最近7日</option>
                                    <option value="30">最近1个月</option>
                                    <option value="90">最近3个月</option>
                                    <option value="define">自定义</option>
                                </select>
                                </div>


                                <div class="form-group" id="dateFromDiv">
                                <label>日期从</label>
                                <%
                                    if(req.param('dateFrom')){
                                %>
                                    <input type="text" class="form-control" name="dateFrom" id="dateFrom" value="<%=req.param('dateFrom')%>">
                                <%
                                    }
                                    else{
                                %>
                                    <input type="text" class="form-control" name="dateFrom" id="dateFrom">
                                <%
                                    }
                                %>

                                </div>
                                <div class="form-group" id="dateToDiv">
                                <label>至</label>
                                <%
                                    if(req.param('dateTo')){
                                %>
                                    <input type="text" class="form-control" name="dateTo" id="dateTo" value="<%=req.param('dateTo')%>">
                                <%
                                    }
                                    else{
                                %>
                                    <input type="text" class="form-control" name="dateTo" id="dateTo">
                                <%
                                    }
                                %>
                                </div>
                                <button class="btn btn-primary" id="submit">搜索</button>
                                </div>
                            </div>


                    </form>
                    <table id="table" class="table table-striped">
                    <thead>
                    <tr><th>分发途径</th><th>省份</th><th>城市</th><th>地区</th><th>街道</th><th>具体位置</th><th>设备编号</th><th>分发量</th></tr>          </thead>
                    <tbody>
                    <%

                        if(resultArr!=null)
                        while(resultArr.length){
                            var row = resultArr.pop();
                    %>
                    <tr><td><%=row.locationType%></td><td><%=row.state%></td><td><%=row.city%></td><td><%=row.region%></td><td><%=row.street%></td><td><%=row.location%></td><td><%=row.identifier%></td><td><%=row.accessCount%></td></tr>
                    <%
                        }
                    %>
                    </tbody>
                    </table>


                </div>


            </div>
        </div>

      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
            <%
            if(req.param('locationType')==null){
            %>
                $("#submit").trigger('click');
            <%
            }
            %>
        });


        if($("#duration").val()!="define"){
            $("#dateFromDiv").hide();
            $("#dateToDiv").hide();
        }

        $("#dateFrom").daterangepicker({singleDatePicker: true});
        $("#dateTo").daterangepicker({singleDatePicker: true});

        $("#duration").change(function(){
            if($("#duration").val()=="define"){
                $("#dateFromDiv").show();
                $("#dateToDiv").show();
            }else{
                $("#dateFromDiv").hide();
                $("#dateToDiv").hide();
            }
        })

    </script>
    <script src="/js/geo.js"></script>
    <script>
    setup(["s1", "s2", "s3"], ["省份", "所有市", "所有市、县"]);
    <% if(req.param("state")!=null){
    %>
    $("#s1 option[value='<%=req.param("state")%>']").attr("selected", "selected");
    <%
    }
    %>
    change(1);
    <% if(req.param("city")){
    %>
    $("#s2 option[value='<%=req.param("city")%>']").attr("selected", "selected");

    <%
    }
    %>
    change(2);
    <% if(req.param("region")){
    %>
    $("#s3 option[value='<%=req.param("region")%>']").attr("selected", "selected");
    <%
    }
    %>

    $("#s1, #s2, #s3").change(function(){
      $("#street").empty();
      populateStreet();
    });
      function populateStreet(){
      var selectedState = $("#s1 option:selected").text();
      var selectedCity = $("#s2 option:selected").text();
      var selectedRegion = $("#s3 option:selected").text();
      $.ajax({
      url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
      }).done(function(data){
        //alert(data);
        $("#street").append("<option value=''>所有街道</option>");
        html = "";
        while (data.length) {
          var street = data.pop();
          <% if(req.param("street")){
          %>
            if(street=="<%=req.param("street")%>")
            option = "<option value='"+street+"' selected>"+street+"</option>";
            else {
              option = "<option value='"+street+"'>"+street+"</option>";
            }
          <%
          }else{
          %>
          option = "<option value='"+street+"'>"+street+"</option>";
          <%
          }
          %>
          html = html + option;
          //code
        }
        $("#street").append(html);
      });
      }
      populateStreet();
    </script>
