
    
      <div class="container content">
        <div class="row">
             <ul class="nav nav-tabs">
              <li><a style="color: #555;" href="/data/AppUser">用戶列表</a></li>
              <li class="active"><a style="background-color: #FFE301;" href="/data/AppUser-statistics">用户统计</a></li>
            </ul>
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="warning"><th class="text-center">全部用户</th><th class="text-center">新增用户</th><th class="text-center">活跃用户</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <%
                            var allUsers = maleUsers + femaleUsers;
                        %>
                        <td><%=allUsers%>(男:<%=(maleUsers/allUsers*100).toPrecision(3)%>%)</td>
                        <td><%=newUsers%>(<%=(newUsers/allUsers*100).toPrecision(3)%>%)</td>
                        <td><%=activeUsers%>(<%=(activeUsers/allUsers*100).toPrecision(3)%>%)</td>

                    </tr>

                </tbody>
                </table>
             <div class="panel panel-dashboard">
                 
            <div class="col-md-4">
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                    <canvas id="genderChart" width="250" height="300"></canvas>

                    </div>
                    <table class="table">
                            <tr><td><span style='background-color:#46BFBD'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 男</td><td><%=maleUsers%></td></tr>
                            <tr><td><span style='background-color:#FDB45C'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 女</td><td><%=femaleUsers%></td></tr>
                    </table>
                    
                   
                    
                </div>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                    <canvas id="newOldUserChart" width="250" height="300"></canvas>
                   
                        
                       
                    </div>
                    <table class="table">
                            <tr><td><span style='background-color:#40d65d'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 新用户</td><td><%=newUsers%></td></tr>
                            <tr><td><span style='background-color:#2137ff'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 历史用户</td><td><%=oldUsers%></td></tr>
                    </table>
                    
                    
                   
                    
                </div>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                    <canvas id="activeInactiveUserChart" width="250" height="300"></canvas>
                    
                    </div>
                    <table class="table">
                            <tr><td><span style='background-color:#f08a75'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 活跃用户</td><td><%=activeUsers%></td></tr>
                            <tr><td><span style='background-color:#e6b3e6'>&nbsp;&nbsp;&nbsp;&nbsp;</span> 僵尸用户</td><td><%=inactiveUsers%></td></tr>
                    </table>
                    
                   
                    
                </div>
                </div>
            
            </div>
        
          </div>
        </div>
        
      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../../js/series.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script>
        $(document).ready(function(){
            color = ["#46BFBD", "#FDB45C", "#212121", "#64af9c", "#6b1f3c", "#127690", "#a2798f", "#008b8b", "#99ccff", "#cc99ff", "#9feaae", "#40d65d", "#65ada2", "#5ee4bb", "#9ffff7", "#2412b4", "#34d491", "#da6665", "#f3d681", "#b9b9b9", "#b9b9b9", "#ffae1a", "#2137ff", "#d8941a", "#d8941a", "#ff2a1a", "#e6b3e6", "#e6b3e6", "#a8e4f0", "#6ef79c", "#5cf53d", "#d6d65c", "#adb87a", "#d6995c", "#f76e6e", "#f08a75", "#eb9947", "#ffdd33", "#cccc00", "#99eb47", "#75f075", "#85e0b3", "#33ffdd","#998cd9",];
            genderData = [{value: "<%=maleUsers%>", color: "#46BFBD", label: "男性用户", highlight: "red"}, {value: "<%=femaleUsers%>", color: "#FDB45C", label: "女性用户", highlight: "red"}];
            newOldUserData =[{value: "<%=newUsers%>", color: "#40d65d", label: "新用户", highlight: "red"}, {value: "<%=oldUsers%>", color: "#2137ff", label: "旧用户",highlight: "red"}];
            activeInactiveUserData =[{value: "<%=activeUsers%>", color: "#f08a75", label: "活跃用户",highlight: "red"}, {value: "<%=inactiveUsers%>", label: "僵尸用户", color: "#e6b3e6", highlight: "red"}];
        var ctx = document.getElementById("genderChart").getContext("2d");
        var ctx2 = document.getElementById("newOldUserChart").getContext("2d");
        var ctx3 = document.getElementById("activeInactiveUserChart").getContext("2d");


        var myPieChart = new Chart(ctx).Doughnut(genderData);
        var myPieChart2 = new Chart(ctx2).Doughnut(newOldUserData);
        var myPieChart3 = new Chart(ctx3).Doughnut(activeInactiveUserData);
            
        });


    </script>