
    <div class="content">
      <div class="container">
        <div class="row">

            <ul class="nav nav-tabs">
              <li class="active"><a style="background-color: #FFE301;" href="/data/prize-stock">奖项统计</a></li>
              <li><a style="color: #555;" href="/data/prize-winner">获奖统计</a></li>
            </ul>
            <div class="panel panel-dashboard full-width">

                <div class="panel-body">
                    <form class="form-inline" action="/data/prize-stock" method="get">
                        <div class="form-group">
                            <label>商家客户</label>

                            <select class="form-control" id="client" name="client">
                                <option value="">所有客户</option>
                            <%
                                var client;
                                if(clientArr){
                                while(clientArr.length){
                                    client = clientArr.pop();
                                    if(req.param('client')&&req.param('client')==client.id){
                            %>
                                <option value="<%=client.id%>" selected><%=client.name%></option>
                            <%
                                    }else{
                            %>
                                <option value="<%=client.id%>"><%=client.name%></option>
                            <%
                                    }
                                }

                                }
                            %>
                            </select>
                            <input type="text" name="searchClient" id="searchClient" placeHolder="搜商家"/>


                        </div>
                        <div class="form-group">
                                <label>广告</label>
                                <select class="form-control" id="advertisement" name="advertisement">

                                <%
                                    var ad;
                                    if(adArr){
                                    while(adArr.length){
                                        ad = adArr.pop();
                                        if(req.param('advertisement')&&req.param('advertisement')==ad.id){
                                %>
                                    <option value="<%=ad.id%>" selected><%=ad.title%></option>
                                <%
                                        }else{
                                %>
                                    <option value="<%=ad.id%>" ><%=ad.title%></option>
                                <%
                                        }
                                    }
                                    }
                                %>

                                </select>
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>

                </div>


                <div class="panel-body">
                <table class="table table-striped" id="prize-stock-table">
                    <thead>
                    <tr><th>奖项</th><th>奖品</th><th>奖项数量</th><th>已抽取数量</th><th>奖项剩余</th><th>已领取奖项</th><th>未领取奖项</th></tr>
                    </thead>
                    <tbody>
                    <%
                        if(selectedAd){
                    %>
                        <tr>
                        <td><b>一等奖</b></td><td><%=selectedAd.firstPrize%></td><td><%=selectedAd.firstPrizeQuantity%></td>
                        <td>
                        <%
                            var drawnPrizeQuantity = selectedAd.firstPrizeQuantity - selectedAd.firstPrizeQuantityRemain;
                        %>
                        <%=drawnPrizeQuantity%>
                        </td>
                        <td><%=selectedAd.firstPrizeQuantityRemain%></td>
                        <td><%=selectedAd.redeem1PrizeQuantity%></td>
                        <td>
                        <%
                            var notRedeemPrizeQuantity = drawnPrizeQuantity - selectedAd.redeem1PrizeQuantity;
                        %>
                            <%=notRedeemPrizeQuantity%>
                        </td></tr>
                    <tr>
                        <td><b>二等奖</b></td><td><%=selectedAd.secondPrize%></td><td><%=selectedAd.secondPrizeQuantity%></td>
                        <td>
                        <%
                            drawnPrizeQuantity = selectedAd.secondPrizeQuantity - selectedAd.secondPrizeQuantityRemain;
                        %>
                        <%=drawnPrizeQuantity%>
                        </td>
                        <td><%=selectedAd.secondPrizeQuantityRemain%></td>
                        <td><%=selectedAd.redeem2PrizeQuantity%></td>
                        <td>
                        <%
                            notRedeemPrizeQuantity = drawnPrizeQuantity - selectedAd.redeem2PrizeQuantity;
                        %>
                            <%=notRedeemPrizeQuantity%>
                        </td></tr>
                    <tr>
                        <td><b>三等奖</b></td><td><%=selectedAd.thirdPrize%></td><td><%=selectedAd.thirdPrizeQuantity%></td>
                        <td>
                        <%
                            drawnPrizeQuantity = selectedAd.thirdPrizeQuantity - selectedAd.thirdPrizeQuantityRemain;
                        %>
                        <%=drawnPrizeQuantity%>

                        </td>
                        <td><%=selectedAd.thirdPrizeQuantityRemain%></td>
                        <td><%=selectedAd.redeem3PrizeQuantity%></td>
                        <td>
                        <%
                            notRedeemPrizeQuantity = drawnPrizeQuantity - selectedAd.redeem3PrizeQuantity;
                        %>
                            <%=notRedeemPrizeQuantity%>
                        </td></tr>
                    <tr>
                        <td><b>四等奖</b></td><td><%=selectedAd.fourthPrize%></td><td><%=selectedAd.fourthPrizeQuantity%></td>
                        <td>
                        <%
                            drawnPrizeQuantity = selectedAd.fourthPrizeQuantity - selectedAd.fourthPrizeQuantityRemain;
                        %>
                        <%=drawnPrizeQuantity%>
                        </td>
                        <td><%=selectedAd.fourthPrizeQuantityRemain%></td>
                        <td><%=selectedAd.redeem4PrizeQuantity%></td>
                        <td>
                        <%
                            notRedeemPrizeQuantity = drawnPrizeQuantity - selectedAd.redeem4PrizeQuantity;
                        %>
                            <%=notRedeemPrizeQuantity%>
                        </td></tr>
                    <tr>
                        <td><b>五等奖</b></td><td><%=selectedAd.fifthPrize%></td><td><%=selectedAd.fifthPrizeQuantity%></td>
                        <td>
                        <%
                            drawnPrizeQuantity = selectedAd.fifthPrizeQuantity - selectedAd.fifthPrizeQuantityRemain;
                        %>
                        <%=drawnPrizeQuantity%>
                        </td>
                        <td><%=selectedAd.fifthPrizeQuantityRemain%></td>
                        <td><%=selectedAd.redeem5PrizeQuantity%></td>
                        <td>
                        <%
                            notRedeemPrizeQuantity = drawnPrizeQuantity - selectedAd.redeem5PrizeQuantity;
                        %>
                            <%=notRedeemPrizeQuantity%>
                        </td></tr>

                    <%

                        }
                    %>

                    </tbody>
                </table>
                </div>


            </div>
        </div>


      </div>
    </div>


    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#client").change(function(){
                var clientId = $("#client").val();
                $("#advertisement").empty();
                $.ajax({
                    url: "/advertisement/json?client="+clientId
                    }).done(function(data){
                      var adOption = "";
                      $("#advertisement").empty();
                      while (data.length) {
                        var ad = data.pop();
                        _option = "<option value='"+ad.id+"'>"+ad.title+"</option>";
                        adOption = adOption + _option;
                      }
                      $("#advertisement").append(adOption);
                });
            });
            $("#searchClient").keyup(function(){
              var searchClient = $("#searchClient").val();
              options = document.getElementById('client').options;

              for(var i=0; i< options.length; i++){
                var position = options[i].text.toLowerCase().indexOf(searchClient);
                if(position==0){
                  options[i].selected = true;
                  break;
                }
              }
            });

        });

    </script>
