<div class="container content">
    <div class="row">
        <div class="panel panel-default full-width">
            <div class="panel-heading"><a href="http://<%=req.host%>:<%=req.port%>/data/access/">广告点击量</a></div>                             <div class="panel-body">
                <form class="form-inline" method="get"  name="form" action="/data/access">
                <div class="panel-elem">
                <div class="form-group">
                    <label>商家客户</label>
                    <select class="form-control" id="client" name="client">
                        <option value="">所有客户</option>
                    <%
                        var client;
                        if(clientArr){
                        while(clientArr.length){
                            client = clientArr.pop();
                            if(req.param('client')&&req.param('client')==client.id){
                    %>
                        <option value="<%=client.id%>" selected><%=client.name%></option>
                    <%
                            }else{
                    %>
                        <option value="<%=client.id%>"><%=client.name%></option>
                    <%
                            }
                        }
                        
                        }
                    %>
                    </select>
                </div>
                <div class="form-group">
                    <label>广告</label>
                    <select class="form-control" id="advertisement" name="advertisement">
                        <option value="">所有广告</option>
                    <%
                        var ad;
                        if(adArr){
                        while(adArr.length){
                            ad = adArr.pop();
                            if(req.param('advertisement')&&req.param('advertisement')==ad.id){
                    %>
                        <option value="<%=ad.id%>" selected><%=ad.title%></option>
                    <%
                            }else{
                    %>
                        <option value="<%=ad.id%>" ><%=ad.title%></option>
                    <%
                            }
                        }
                        }
                    %>
                    
                    </select>
                </div>
                </div>
                    
                <div class="panel-elem">
                <div class="form-group">
                    <label>年份</label>
                    <select class="form-control" id="year" name="year">
                        <%
                        if(req.param('year')){
                        %>
                        <option value="<%=req.param('year')%>" selected><%=req.param('year')%></option>
                        <%
                        }
                        %>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>月份</label>
                    <select class="form-control" id="month" name="month" >
                        <%
                        if(req.param('month')){
                        %>
                        <option value="<%=req.param('month')%>" selected><%=req.param('month')%></option>
                        <%
                        }
                        %>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                
                <input type="hidden" name="buttonAction" id="buttonAction" class="btn btn-default" value=""/>
                <input type="button" id="accessMonth" class="btn btn-default" value="月统计"/>
                </div>
                <div class="panel-elem">
                <div class="form-group">
                    <label>日期</label>
                    <%
                    if(req.param('date')){
                    %>
                    <input type="text" class="form-control" id="date" name="date" value="<%=req.param('date')%>">
                    <%
                    }else{
                    %>
                    <input type="text" class="form-control" id="date" name="date">
                    <%
                    }
                    %>
                    
                     
                </div> 
                    <input type="button" class="btn btn-default" id="accessDate" value="日统计">
                </div>
                </form>
                <div class="panel-elem">
                <%
                if(accessCountMonth){
                %>
                
                <mark><%=req.param('year')%>年<%=req.param('month')%>月统计点击量</mark>
                
                <%
                } else if(accessCountDate){
                %>
                
                <mark><%=req.param('date')%>    日统计点击量</mark>
                
                <%
                }
                %>
                </div>

                <canvas id="access-ctx" width="900" height="400"></canvas>
                 <%
                if(accessCountMonth||accessCountDate){
                %>
                
                
                
                <table class="table" style="width: 900px">
                            <tr><td><span style='background-color:#ff2a1a'>&nbsp;&nbsp;&nbsp;&nbsp;</span></td><td>点击</td></tr>
                            <tr><td><span style='background-color:#a8e4f0'>&nbsp;&nbsp;&nbsp;&nbsp;</span></td><td>消费</td></tr>
                </table>
                <%
            }
                %>
               
            


            </div>
    </div>
    </div>

</div>


<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../js/series.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js">      </script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<script>



$(document).ready(function(){

    $("#date").daterangepicker({singleDatePicker: true});
    
    var yData = []; var yLabel = [];
    var yPrice =[];
    <% if(accessCountMonth!=null){
            var yVal = 0;
            var yPrice = 0;
            for(var i=1; i<=31; i++){
                if(accessCountMonth[i+""]!=undefined){
                    yVal = accessCountMonth[i+""];
                    yPrice = accessCountMonth["price-"+i];

                }   
                else {
                    yVal = 0;
                    yPrice = 0;

                }
    %>
        yData.push(<%=yVal%>);
        yPrice.push(<%=yPrice%>);
        yLabel.push("<%=i%>");
    <%
                    
    }}
            
    %>
    <% if(accessCountDate!=null){
            var yVal = 0; var yPrice = 0;
            for(var i=1; i<=24; i++){
                if(accessCountDate[i+""]!=undefined){
                    yVal = accessCountDate[i+""];
                    yPrice = accessCountDate["price-"+i];

                }   
                else {
                    yVal = 0;
                    yPrice = 0;
                }
    %>
        yData.push(<%=yVal%>);
        yPrice.push(<%=yPrice%>);
        yLabel.push("<%=i%>");
        
    <%
                    
    }}
            
    %>
    for(var i=0; i<yLabel.length; i++){
            alert(yPrice[i])
        }
    var today = new Date();
    
    $("#accessMonth").click(function(err){
        $("#buttonAction").attr("value", "accessMonth");
        document.forms['form'].submit();
    });
    $("#accessDate").click(function(err){
        $("#buttonAction").attr("value", "accessDate");
        document.forms['form'].submit();
    })
    $("#client").change(function(){
        var clientId = $("#client").val();
        $.ajax({
            url: "/advertisement/json?client="+clientId
            }).done(function(data){
              var adOption = "";
              $("#advertisement").empty();
              while (data.length) {
                var ad = data.pop();
                _option = "<option value='"+ad.id+"'>"+ad.title+"</option>";
                adOption = adOption + _option;
              }
              adOption = adOption + "<option value=''>所有广告</option>"
              $("#advertisement").append(adOption);
        });
    }); 
    
    data = {
        labels: yLabel,
        datasets: [
            {
                label: "Access dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "#ff2a1a",
                pointColor: "#ff2a1a",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: yData
            },
            {
                label: "Price dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "#a8e4f0",
                pointColor: "#a8e4f0",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: yPrice
            }
        ]
    };
    var myLineChart;
    var ctx = document.getElementById("access-ctx").getContext("2d");
        myLineChart = new Chart(ctx).Line(data, {
        bezierCurve: false
        });
});

  
</script>


