
    
      <div class="container content">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">广告点击量 (地区)</div>             
                    
                <div class="panel-body">
                    
                    <form class="form-inline" method="get" action="/data/access-region">
                        
                        <div class="form-group">
                             <label>位置</label>
                            <select class="form-control" id="state" name="state">
                                <%
                                if(req.param("state")&&req.param("state")!=""){
                                %>
                                <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                <%
                                }
                                %>
                                
                                <option value="广东省">广东省</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                                <%
                                if(req.param("city")&&req.param("city")!=""){
                                %>
                                <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                <%
                                }
                                %>
                                
                            </select>
                        </div>
                    <div class="form-group" id="dateFromDiv">
                        <label>日期从</label>
                        <%
                            if(req.param('dateFrom')){
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom" value="<%=req.param('dateFrom')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom">
                        <%
                            }
                        %>
                        
                        </div>
                        <div class="form-group" id="dateToDiv">
                        <label>至</label>
                        <%
                            if(req.param('dateTo')){
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo" value="<%=req.param('dateTo')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo">
                        <%
                            }
                        %>
                        </div>
                    <%
                        var client = "";
                        if(req.param('client'))
                            client = req.param('client');
                    %>
                    <input type="hidden" class="form-control" name="client" id="client" value="<%=client%>">
                    <button class="btn btn-default">统计</button>
                    </form>
                    
                    
                </div>
                <canvas id="myChart" width="900" height="400"></canvas>
                <div id="legend">
                </div>
                
            </div>
        </div>
        
      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../../js/series.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script>

        
    function populateCity(){
        var selectedState = $("#state option:selected").text();
            
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
            console.log("city");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          }).error(function(err){
            console.log("all city");
          $("#city").append("<option value=''>所有城市</option>");
          });
    }
    
    
    $(document).ready(function(){
        populateCity();
        $("#dateFrom").daterangepicker({singleDatePicker: true});
        $("#dateTo").daterangepicker({singleDatePicker: true});
        s = new Series().y(function(d){return d.sum});
        <%
        while(resultArr.length){
            result = resultArr.pop();
            item = {};
            item.key = result.region;
            item.sum = 1;
        %>
            s.put({key: "<%=item.key%>", sum: <%=item.sum%>});
        <%
        }
        %>
        var aggreData = Series.y(function(d){ return d.sum; })
                .aggregation(Series.sum)
                .key(function(d){ 
                  var key = d.key;
                  return key })(s);
        color = ["#46BFBD", "#FDB45C", "#212121", "#64af9c", "#6b1f3c", "#127690", "#a2798f", "#008b8b", "#99ccff", "#cc99ff", "#9feaae", "#40d65d", "#65ada2", "#5ee4bb", "#9ffff7", "#2412b4", "#34d491", "#da6665", "#f3d681", "#b9b9b9", "#b9b9b9", "#ffae1a", "#2137ff", "#d8941a", "#d8941a", "#ff2a1a", "#e6b3e6", "#e6b3e6", "#a8e4f0", "#6ef79c", "#5cf53d", "#d6d65c", "#adb87a", "#d6995c", "#f76e6e", "#f08a75", "#eb9947", "#ffdd33", "#cccc00", "#99eb47", "#75f075", "#85e0b3", "#33ffdd","#998cd9",];
        
        var total = 0;
        aggreData.forEach(function(d){
            total = total + parseInt(d.y);
        })
        var i = 0;
        aggreData.forEach(function(d){
            d.value = d.y;
            d.color = color[i];
            var percent = (d.y/total)*100;
            percent = percent.toFixed(2);
            d.label = d.t+" "+ percent+"% ";
            d.highlight = "red"
            i++;
        });
        var ctx = document.getElementById("myChart").getContext("2d");

        var myPieChart = new Chart(ctx).Doughnut(aggreData);
        legendHtml = "";
        aggreData.forEach(function(d){
            legendHtml_ = "<dt><span style='background-color:"+d.color+"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></dt><dd>"+d.label+": "+d.value+"</dd>";
            legendHtml += legendHtml_;
        });
        legendHtml = "<dl class='dl-horizontal'>"+legendHtml+"</dl>";
        
        $("#legend").append(legendHtml);
    });
      
    </script>
    

