
    
      <div class="container content">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">广告点击量 (地区)</div>             
                    
                <div class="panel-body">
                    
                    <form class="form-inline" method="get" action="/data/access-region">
                        
                        <div class="form-group">
                             <label>位置</label>
                            <select class="form-control" id="state" name="state">
                                <%
                                if(req.param("state")&&req.param("state")!=""){
                                %>
                                <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                <%
                                }
                                %>
                                
                                <option value="广东省">广东省</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                                <%
                                if(req.param("city")&&req.param("city")!=""){
                                %>
                                <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                <%
                                }
                                %>
                                
                            </select>
                        </div>
                    <div class="form-group" id="dateFromDiv">
                        <label>日期从</label>
                        <%
                            if(req.param('dateFrom')){
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom" value="<%=req.param('dateFrom')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom">
                        <%
                            }
                        %>
                        
                        </div>
                        <div class="form-group" id="dateToDiv">
                        <label>至</label>
                        <%
                            if(req.param('dateTo')){
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo" value="<%=req.param('dateTo')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo">
                        <%
                            }
                        %>
                        </div>
                    <%
                        var client = "";
                        if(req.param('client'))
                            client = req.param('client');
                    %>
                    <input type="hidden" class="form-control" name="client" id="client" value="<%=client%>">
                    <button class="btn btn-default">统计</button>
                    </form>
                    
                    
                </div>
                <canvas id="myChart" width="900" height="400"></canvas>
                <div id="legend">
                </div>
                
            </div>
        </div>
        
      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../../js/series.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script>

        
    function populateCity(){
        var selectedState = $("#state option:selected").text();
            
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
            console.log("city");
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          }).error(function(err){
            console.log("all city");
          $("#city").append("<option value=''>所有城市</option>");
          });
    }
    
    
    $(document).ready(function(){
        populateCity();
        $("#dateFrom").daterangepicker({singleDatePicker: true});
        $("#dateTo").daterangepicker({singleDatePicker: true});
        
       
    });
      
    </script>
    

