

      <div class="container content">
        <div class="row">
            <ul class="nav nav-tabs">
              <li><a style="color: #555;" href="/data/access-region">区域统计</a></li>
              <li class="active"><a style="background-color: #FFE301;" href="/data/access-category">行业点击</a></li>
              <li><a style="color: #555;" href="/data/category-compare">行业比較</a></li>
            </ul>
            <div class="panel panel-dashboard col-md-12">

                <div class="panel-body">

                    <form class="form-inline" method="get" action="/data/access-category">
                        <div style="display: none;" class="form-group">
                            <label>商家客户</label>
                            <select class="form-control" id="client" name="client">
                                <option value="">所有客户</option>
                            <%
                                var client;
                                if(clientArr){
                                while(clientArr.length){
                                    client = clientArr.pop();
                                    if(req.param('client')&&req.param('client')==client.id){
                            %>
                                <option value="<%=client.id%>" selected><%=client.name%></option>
                            <%
                                    }else{
                            %>
                                <option value="<%=client.id%>"><%=client.name%></option>
                            <%
                                    }
                                }

                                }
                            %>
                            </select>
                        </div>
                        <div class="form-group">
                             <label>地区</label>
                            <select class="form-control" id="state" name="state">
                                <%
                                if(req.param("state")&&req.param("state")!=""){
                                %>
                                <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                <%
                                }
                                %>

                                <option value="广东省">广东省</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                                <%
                                if(req.param("city")&&req.param("city")!=""){
                                %>
                                <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                <%
                                }
                                %>

                            </select>
                        </div>
                    <div class="pull-right">
                    <div class="form-group" id="dateFromDiv">
                        <label>日期从</label>
                        <%
                            if(req.param('dateFrom')){
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom" value="<%=req.param('dateFrom')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateFrom" id="dateFrom">
                        <%
                            }
                        %>

                        </div>
                        <div class="form-group" id="dateToDiv">
                        <label>至</label>
                        <%
                            if(req.param('dateTo')){
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo" value="<%=req.param('dateTo')%>">
                        <%
                            }
                            else{
                        %>
                            <input type="text" class="form-control" name="dateTo" id="dateTo">
                        <%
                            }
                        %>
                        </div>
                    <%
                        var client = "";
                        if(req.param('client'))
                            client = req.param('client');
                    %>

                    <button class="btn btn-primary" id="submit">统计</button>
                    </div>
                    </form>


                </div>
                <center>
                <div id="message"></div>
                </center>
                <div class="row">
                  <div class="col-xs-6">
                    <canvas id="myChart" width="900" height="400"></canvas>
                  </div>
                  <div class="col-xs-4">
                  <div id="legend">
                  </div>
                  </div>
                </div>

            </div>
        </div>

      </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../../js/series.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script>


    function populateCity(){
        var selectedState = $("#state option:selected").text();
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
            console.log("city");
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          }).error(function(err){
            console.log("all city");
          $("#city").append("<option value=''>所有城市</option>");
          });
    }


    $(document).ready(function(){

        populateCity();
        var dateFromStr = moment().subtract(7, 'day').format("MM/DD/YYYY");
        $("#dateFrom").daterangepicker({singleDatePicker: true});
        <%
        if(!req.param('dateFrom')){
        %>
        $("#dateFrom").val(dateFromStr);
        <%
        }
        %>

        $("#dateTo").daterangepicker({singleDatePicker: true});

        <%
        if(req.param('state')==null){
        %>
        $("#submit").trigger('click');
        <%
        }
        %>
        s = new Series().y(function(d){return d.sum});
        <%
            if(!resultArr.length){
        %>
            $("#message").append("没有可显示的数据");
        <%
            }
        %>
        <%
        while(resultArr.length){
            result = resultArr.pop();
            item = {};
            item.key = result.category;
            item.sum = 1;

        %>
            s.put({key: "<%=item.key%>", sum: <%=item.sum%>});
        <%
        }
        %>

        var aggreData = Series.y(function(d){ return d.sum; })
                .aggregation(Series.sum)
                .key(function(d){
                  var key = d.key;
                  return key })(s);
        color = ["#46BFBD", "#FDB45C", "#212121", "#64af9c", "#6b1f3c", "#127690", "#a2798f", "#008b8b", "#99ccff", "#cc99ff", "#9feaae", "#40d65d", "#65ada2", "#5ee4bb", "#9ffff7", "#2412b4", "#34d491", "#da6665", "#f3d681", "#b9b9b9", "#b9b9b9", "#ffae1a", "#2137ff", "#d8941a", "#d8941a", "#ff2a1a", "#e6b3e6", "#e6b3e6", "#a8e4f0", "#6ef79c", "#5cf53d", "#d6d65c", "#adb87a", "#d6995c", "#f76e6e", "#f08a75", "#eb9947", "#ffdd33", "#cccc00", "#99eb47", "#75f075", "#85e0b3", "#33ffdd","#998cd9",];

        var total = 0;
        aggreData.forEach(function(d){
            total = total + parseInt(d.y);
        })


        $("#message").append("<br><a class='btn btn-primary' diabled> 总点击量： <span class='badge' disabled>"+total+"</span></a>");


        var i = 0;
        aggreData.forEach(function(d){
            d.value = d.y;
            d.color = color[i];
            var percent = (d.y/total)*100;
            percent = percent.toFixed(0);
            d.label = d.t+" "+ percent+"% ";
            d.highlight = "red"
            i++;
        });
        var ctx = document.getElementById("myChart").getContext("2d");
        var myPieChart = new Chart(ctx).Doughnut(aggreData);
        legendHtml = "";
        aggreData.forEach(function(d){
            legendHtml_ = "<dt><span style='background-color:"+d.color+"'>&nbsp;&nbsp;&nbsp;&nbsp;</span></dt><dd>"+d.label+": "+d.value+"</dd>";
            legendHtml += legendHtml_;
        });
        legendHtml = "<dl class='dl-horizontal'>"+legendHtml+"</dl>";

        $("#legend").append(legendHtml);

    });

    </script>
