
      <div class="container content">
        <div class="row">
            <ul class="nav nav-tabs">
              <li><a style="color: #555;" href="/data/prize-stock">奖项统计</a></li>
              <li class="active"><a style="background-color: #FFE301;" href="/data/prize-winner">获奖统计</a></li>
            </ul>
            <div class="panel full-width">
                <ol class="breadcrumb panel-heading panel-heading-cbj">
                  <li>数据管理</li>
                  <li>获奖人</li>
                </ol>  
                <div class="panel-body">
                    <form class="form-inline" action="/data/prize-winner" method="get">
                        <div class="panel-elem">
                            <div class="form-group">
                                <label>商家客户</label>
                                <select class="form-control" id="client" name="client">
                                    <option value="">所有客户</option>
                                <%
                                    var client;
                                    if(clientArr){
                                    while(clientArr.length){
                                        client = clientArr.pop();
                                        if(req.param('client')&&req.param('client')==client.id){
                                %>
                                    <option value="<%=client.id%>" selected><%=client.name%></option>
                                <%
                                        }else{
                                %>
                                    <option value="<%=client.id%>"><%=client.name%></option>
                                <%
                                        }
                                    }

                                    }
                                %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>广告</label>
                                <select class="form-control" id="advertisement" name="advertisement">
                                    
                                <%
                                    var ad;
                                    if(adArr){
                                    while(adArr.length){
                                        ad = adArr.pop();
                                        if(req.param('advertisement')&&req.param('advertisement')==ad.id){
                                %>
                                    <option value="<%=ad.id%>" selected><%=ad.title%></option>
                                <%
                                        }else{
                                %>
                                    <option value="<%=ad.id%>" ><%=ad.title%></option>
                                <%
                                        }
                                    }
                                    }
                                %>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>奖项</label>
                                <select class="form-control" name="prize">
                                    <%
                                    if(req.param('prize')&&req.param('prize')!=""){
                                    %>
                                    <option value="<%=req.param('prize')%>" selected><%=req.param('prize')%></option>
                                    <%
                                    }
                                    %>
                                    <option value="">所有奖项</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                </div>
                            </div>
                            <div class="panel-elem">
                                
                                <div class="form-group">
                                    <label>地区</label>
                                    <select class="form-control" id="state" name="state">
                                        <%
                                        if(req.param("state")&&req.param("state")!=""){
                                        %>
                                        <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                        <%
                                        }
                                        %>
                                        <option value="">所有省</option>
                                        <option value="广东省">广东省</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="city" name="city">
                                        <%
                                        if(req.param("city")&&req.param("city")!=""){
                                        %>
                                        <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                        <%
                                        }
                                        %>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="region" name="region">
                                        <%
                                        if(req.param("region")&&req.param("region")!=""){
                                        %>
                                        <option value="<%=req.param('region')%>" selected><%=req.param('region')%></option>
                                        <%
                                        }
                                        %>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="street" name="street">
                                         <%
                                        if(req.param("street")&&req.param("street")!=""){
                                        %>
                                        <option value="<%=req.param('street')%>" selected><%=req.param('street')%></option>
                                        <%
                                        }
                                        %>

                                    </select>
                                </div>
                            
                            
                                <div class="form-group pull-right">
                                <label>时间</label>
                                <select class="form-control" id="duration" name="duration">
                                    <%
                                    if(req.param("duration")&&req.param("duration")!=""){
                                        var durationStr = [];
                                        durationStr["7"] = "最近7日";
                                        durationStr["30"] = "最近1个月";
                                        durationStr["90"] = "最近3个月";
                                        durationStr["define"] = "自定义";
                                        var duration = req.param("duration");
                                        var duration2 = durationStr[duration];
                                    %>

                                    <option value="<%=req.param('duration')%>" selected><%=duration2%></option>
                                    <%
                                    }
                                    %>
                                    <option value="7">最近7日</option>
                                    <option value="30">最近1个月</option>
                                    <option value="90">最近3个月</option>
                                    <option value="define">自定义</option>
                                </select>
                                

                                <div class="form-group" id="dateFromDiv">
                                <label>日期从</label>
                                <%
                                    if(req.param('dateFrom')){
                                %>
                                    <input type="text" class="form-control" name="dateFrom" id="dateFrom" value="<%=req.param('dateFrom')%>">
                                <%
                                    }
                                    else{
                                %>
                                    <input type="text" class="form-control" name="dateFrom" id="dateFrom">
                                <%
                                    }
                                %>

                                </div>
                                <div class="form-group" id="dateToDiv">
                                <label>至</label>
                                <%
                                    if(req.param('dateTo')){
                                %>
                                    <input type="text" class="form-control" name="dateTo" id="dateTo" value="<%=req.param('dateTo')%>">
                                <%
                                    }
                                    else{
                                %>
                                    <input type="text" class="form-control" name="dateTo" id="dateTo">
                                <%
                                    }
                                %>
                                </div>
                                <button type="submit" class="btn btn-primary">搜索</button>
                                </div>
                            </div>
                            
                        
                        
                        
                    </form>
                </div>
                <div class="panel-body">
                <table class="table table-strip" id="table">
                    <thead>
                    <tr><th>日期</th><th>用户名</th><th>用户联系</th><th>奖项</th><th>领奖</th><th>截止日期</th><th>有效</th></tr>
                    </thead>
                    <tbody>
                    <%
                    if(resultArr!=null)
                    while(resultArr.length){
                        var row = resultArr.pop();
                        var date = row.createdAt;
                        var date2 = moment(date).format("YYYY-MM-DD HH:mm:ss");
                        var phone = "wechat用戶";
                        var prizeStr = ["", "一等奖", "二等奖", "三等奖", "四等奖", "五等奖"];
                        if (row.appUser.authType == "local") {
                            phone = row.appUser.phone;
                        }
                        var pickStatus = row.picked;
                        if(pickStatus==true)
                            pickStatus = "已领";
                        else
                            pickStatus = "未领";
                        var expiredDate = row.prizeCouponExpiredAt;
                        expiredDateStr = moment(expiredDate).format("MM/DD/YYYY HH:mm:ss");
                        var expired = !moment().isBefore(expiredDate);
                        if(expired)
                            expired = "过期";
                        else
                            expired = "未过期";
                        var prize = prizeStr[row.prize];
                    %>
                    <tr><td><%=date2%></td><td><%=row.appUser.username%></td><td><%=phone%></td><td><%=prize%></td><td><%=pickStatus%></td><td><%=expiredDateStr%></td><td><%=expired%></td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
      </div>
    


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


    <script>
        
        $(document).ready(function(){
            populateCity();
            populateRegion();
            populateStreet();
            $("#table").DataTable(
            {
                "language": 
                {"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"},
                "order": [[ 0, "desc" ]]
            });
            
            $("#client").change(function(){
                var clientId = $("#client").val();
                $.ajax({
                    url: "/advertisement/json?client="+clientId
                    }).done(function(data){
                      var adOption = "";
                      $("#advertisement").empty();
                      while (data.length) {
                        var ad = data.pop();
                        _option = "<option value='"+ad.id+"'>"+ad.title+"</option>";
                        adOption = adOption + _option;
                      }
                      $("#advertisement").append(adOption);
                });
            });
            
            
            $("#dateFrom").daterangepicker({singleDatePicker: true});
            $("#dateTo").daterangepicker({singleDatePicker: true});
            function populateCity(){
            var selectedState = $("#state option:selected").text();
            if(selectedState=="所有省"||selectedState==""){
                $("#city").append("<option value=''>所有城市</option>");
                return;
            } 
            $.ajax({
            url: "/geo/city?state="+selectedState
            }).done(function(data){
                console.log("city");
              $("#city").append("<option value=''>所有城市</option>");
              html = "";
              while (data.length) {
                var city = data.pop();
                option = "<option value='"+city+"'>"+city+"</option>";
                html = html + option;
                //code
              }
              $("#city").append(html);
              }).error(function(err){
                console.log("all city");
              $("#city").append("<option value=''>所有城市</option>");
              });
            }
            function populateRegion(){
            var selectedState = $("#state option:selected").text();
            var selectedCity = $("#city option:selected").text();
            if(selectedCity=="所有城市"||selectedCity==""){
                $("#region").append("<option value=''>所有地区</option>");
                return;
            }
            $.ajax({
            url: "/geo/region?state="+selectedState+"&city="+selectedCity,
            }).done(function(data){
              //alert(data);
              $("#region").append("<option value=''>所有地区</option>");
              html = "";
              while (data.length) {
                var region = data.pop();
                option = "<option value='"+region+"'>"+region+"</option>";
                html = html + option;
                //code
              }
              $("#region").append(html);
              });
            }

            function populateStreet(){
                var selectedState = $("#state option:selected").text();
                var selectedCity = $("#city option:selected").text();
                var selectedRegion = $("#region option:selected").text();
                if(selectedRegion=="所有地区"||selectedRegion=="") {
                    $("#street").append("<option value=''>所有街道</option>");
                    return;
                }

                $.ajax({
                url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
                }).done(function(data){
                  //alert(data);
                  $("#street").append("<option value=''>所有街道</option>");
                  html = "";
                  while (data.length) {
                    var street = data.pop();
                    option = "<option value='"+street+"'>"+street+"</option>";
                    html = html + option;
                    //code
                  }
                  $("#street").append(html);
                });
            }


            $("#state").change(function(){
                $("#city").empty();
                $("#region").empty();
                $("#region").append("<option value=''>所有地区</option>");
                $("#street").empty();
                $("#street").append("<option value=''>所有街道</option>");
                populateCity();
            });
            $("#city").change(function(){
                $("#region").empty();
                $("#street").empty();
                $("#street").append("<option value=''>所有街道</option>");
                populateRegion();
            });
            $("#region").change(function(){
                $("#street").empty();
                populateStreet();
            });
            
            if($("#duration").val()!="define"){
                $("#dateFromDiv").hide();
                $("#dateToDiv").hide();
            }
            
            $("#duration").change(function(){
                if($("#duration").val()=="define"){
                    $("#dateFromDiv").show();
                    $("#dateToDiv").show();
                }else{
                    $("#dateFromDiv").hide();
                    $("#dateToDiv").hide();
                }
            })
    
            
            
            
            
            
        });
        
    </script>
