
      <div class="container content">
        <div class="row">
<<<<<<< HEAD
            <div class="panel panel-default full-width">
                <ol class="breadcrumb panel-heading">
                  <li>数据统计</li>
=======
            <div class="panel panel-dashboard full-width">
                <ol class="breadcrumb panel-heading panel-heading-cbj">
>>>>>>> 7c6665e9e7b539b5c62c617176808d1c9b42cc8a
                  <li><a href="/data/prize-winner">获奖人－请选广告</a></li>
                  <li>获奖人</li>
                </ol>  

                <div class="panel-body">
                <table class="table table-strip" id="table">
                    <thead>
                    <tr><th>日期</th><th>用户名</th><th>用户联系</th><th>奖项</th><th>领奖</th><th>截止日期</th><th>有效</th></tr>
                    </thead>
                    <tbody>
                    <%
                    if(resultArr!=null)
                    while(resultArr.length){
                        var row = resultArr.pop();
                        var date = row.createdAt;
                        var date2 = moment(date).format("YYYY-MM-DD HH:mm:ss");
                        var phone = "wechat用戶";
                        var prizeStr = ["", "一等奖", "二等奖", "三等奖", "四等奖", "五等奖"];
                        if (row.appUser.authType == "local") {
                            phone = row.appUser.phone;
                        }
                        var pickStatus = row.picked;
                        if(pickStatus==true)
                            pickStatus = "已领";
                        else
                            pickStatus = "未领";
                        var expiredDate = row.prizeCouponExpiredAt;
                        expiredDateStr = moment(expiredDate).format("MM/DD/YYYY HH:mm:ss");
                        var expired = !moment().isBefore(expiredDate);
                        if(expired)
                            expired = "过期";
                        else
                            expired = "未过期";
                        var prize = prizeStr[row.prize];
                    %>
                    <tr><td><%=date2%></td><td><%=row.appUser.username%></td><td><%=phone%></td><td><%=prize%></td><td><%=pickStatus%></td><td><%=expiredDateStr%></td><td><%=expired%></td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
      </div>
    


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table").DataTable(
            {
                "language": 
                {"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"},
                "order": [[ 0, "desc" ]]
            });
    </script>
