
    
      <div class="container content">
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default full-width" >
            <ol class="breadcrumb panel-heading">
              <li><a href="/device">设备</a></li>
            </ol>  
                <div class="panel-body">
                    <form class="form-inline" action="/device/search" method="get">
                    <div class="form-group">
                            <select class="form-control" id="type" name="locationType">
                                <%
                                if(req.param("locationType")&&req.param("locationType")!=""){
                                %>
                                <option value="<%=req.param('locationType')%>" selected><%=req.param('locationType')%></option>
                                <%
                                }
                                %>
                                <option value="">所有位置类</option>
                                <option value="公交站">公交站</option>
                                <option value="公交车">公交车</option>
                                <option value="电梯">电梯</option>
                                <option value="路名牌">路名牌</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="state" name="state">
                                <%
                                if(req.param("state")&&req.param("state")!=""){
                                %>
                                <option value="<%=req.param('state')%>" selected><%=req.param('state')%></option>

                                <%
                                }
                                %>
                                
                                <option value="广东省">广东省</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                                <%
                                if(req.param("city")&&req.param("city")!=""){
                                %>
                                <option value="<%=req.param('city')%>" selected><%=req.param('city')%></option>
                                <%
                                }
                                %>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="region" name="region">
                                <%
                                if(req.param("region")&&req.param("region")!=""){
                                %>
                                <option value="<%=req.param('region')%>" selected><%=req.param('region')%></option>
                                <%
                                }
                                %>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="street" name="street">
                                 <%
                                if(req.param("street")&&req.param("street")!=""){
                                %>
                                <option value="<%=req.param('street')%>" selected><%=req.param('street')%></option>
                                <%
                                }
                                %>
                                
                            </select>
                        </div>
                    <button type="submit" class="btn btn-default right">搜</button> 
                        
                    </form>
                    
                    
                </div>
                <div class="panel-body">
                <table class="table table-striped" id="table">
                <thead>
                    <tr><th>设备编号</th><th>Minor</th><th>省</th><th>城市</th><th>地区</th><th>街道</th><th>详细位置</th><th>位置类型</th><th>藏宝街标示</th></tr>
                </thead>
                <tbody>
                <%
                var row;
                while (resultArr&&resultArr.length) {
                  row = resultArr.pop();
                %>
                    <tr>
                        <td><a href="/device/<%=row.id%>"><%=row.identifier%></a></td>
                        <td><%=row.minor%></td>
                        <td><%=row.state%></td>
                        <td><%=row.city%></td>
                        <td><%=row.region%></td>
                        <td><%=row.street%></td>
                        <td><%=row.location%></td>
                        <td><%=row.locationType%></td>
                        <td><%=row.cbjTag%></td>
                        
                    </tr>
                <%
                }
                %>
                </tbody>
                </table>
                </div>
            </div>
        </div>
        </div>
        
      </div>
    
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){

            populateCity();
            populateRegion();
            populateStreet();
            
        });
        function populateCity(){
        var selectedState = $("#state option:selected").text();
            
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
        }
        function populateRegion(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        if(selectedCity=="所有城市"||selectedCity==""){
            $("#region").append("<option value=''>所有地区</option>");
        }
        $.ajax({
        url: "/geo/region?state="+selectedState+"&city="+selectedCity,
        }).done(function(data){
          //alert(data);
          $("#region").append("<option value=''>所有地区</option>");
          html = "";
          while (data.length) {
            var region = data.pop();
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            //code
          }
          $("#region").append(html);
          });
        }
            
        function populateStreet(){
            var selectedState = $("#state option:selected").text();
            var selectedCity = $("#city option:selected").text();
            var selectedRegion = $("#region option:selected").text();
            if(selectedRegion=="所有地区"||selectedRegion=="")
                $("#street").append("<option value=''>所有街道</option>");;
            
            $.ajax({
            url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
            }).done(function(data){
              //alert(data);
              $("#street").append("<option value=''>所有街道</option>");
              html = "";
              while (data.length) {
                var street = data.pop();
                option = "<option value='"+street+"'>"+street+"</option>";
                html = html + option;
                //code
              }
              $("#street").append(html);
            });
        }
            
    
        $("#state").change(function(){
            $("#city").empty();
            $("#region").empty();
            $("#region").append("<option value=''>所有地区</option>");
            $("#street").empty();
            $("#street").append("<option value=''>所有街道</option>");
            populateCity();
        });
        $("#city").change(function(){
            $("#region").empty();
            $("#street").empty();
            $("#street").append("<option value=''>所有街道</option>");
            populateRegion();
        });
        $("#region").change(function(){
            $("#street").empty();
            populateStreet();
        });
    </script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $("document").ready(function(){
            $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
            
        });
        
    </script>
    

