

<div style="padding-top: 100px;" class="container content">
<div class="row">
    <div class="col-md-12">
        <div class="panel full-width" >
            <div class="panel-heading panel-heading-cbj">
            设备
            </div>
            <div class="panel-body">
                <form class="form-inline" action="/device/search" method="get">
                <div class="form-group">
                    <select class="form-control" id="locationType" name="locationType">
                        <%
                        if(req.param("locationType")&&req.param("locationType")!=""){
                        %>
                        <option value="<%=req.param('locationType')%>" selected><%=req.param('locationType')%></option>
                        <%
                        }
                        %>
                        <option value="">所有位置类</option>
                        <option value="公交站">公交站</option>
                        <option value="公交车">公交车</option>
                        <option value="电梯">电梯</option>
                        <option value="路名牌">路名牌</option>
                        <option value="商区公共设备">商区公共设备</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="s1" name="state">
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="s2" name="city">
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="s3" name="region">
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="street" name="street">
                    </select>
                </div>

                <button type="submit" class="btn btn-primary right">搜索</button>
                <button type="button" class="btn btn-default right" onClick="javascript:window.history.back()" value=""/> 取消 </button>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-striped" id="table">
                <thead>
                    <tr><th>设备编号</th><th>省</th><th>城市</th><th>地区</th><th>街道</th><th>详细位置</th><th>位置类型</th></tr>
                </thead>
                <tbody>
                <%
                var row;
                while (resultArr&&resultArr.length) {
                  row = resultArr.pop();
                %>
                    <tr>
                        <td><a href="/device/<%=row.id%>"><%=row.identifier%></a></td>
                        <td><%=row.state%></td>
                        <td><%=row.city%></td>
                        <td><%=row.region%></td>
                        <td><%=row.street%></td>
                        <td><%=row.location%></td>
                        <td><%=row.locationType%></td>
                    </tr>
                <%
                }
                %>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
        });
    </script>
    <script src="/js/geo.js"></script>
    <script>
    setup(["s1", "s2", "s3"], ["省份", "所有市", "所有市、县"]);
    <% if(req.param("state")!=null){
    %>
    $("#s1 option[value='<%=req.param("state")%>']").attr("selected", "selected");
    <%
    }
    %>
    change(1);
    <% if(req.param("city")){
    %>
    $("#s2 option[value='<%=req.param("city")%>']").attr("selected", "selected");

    <%
    }
    %>
    change(2);
    <% if(req.param("region")){
    %>
    $("#s3 option[value='<%=req.param("region")%>']").attr("selected", "selected");
    <%
    }
    %>

    $("#s1, #s2, #s3").change(function(){
      $("#street").empty();
      populateStreet();
    });
      function populateStreet(){
      var selectedState = $("#s1 option:selected").text();
      var selectedCity = $("#s2 option:selected").text();
      var selectedRegion = $("#s3 option:selected").text();
      $.ajax({
      url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
      }).done(function(data){
        //alert(data);
        $("#street").append("<option value=''>所有街道</option>");
        html = "";
        while (data.length) {
          var street = data.pop();
          <% if(req.param("street")){
          %>
            if(street=="<%=req.param("street")%>")
            option = "<option value='"+street+"' selected>"+street+"</option>";
            else {
              option = "<option value='"+street+"'>"+street+"</option>";
            }
          <%
          }else{
          %>
          option = "<option value='"+street+"'>"+street+"</option>";
          <%
          }
          %>
          html = html + option;
          //code
        }
        $("#street").append(html);
      });
      }
      populateStreet();
    </script>
