
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">添加设备</div>
            <div class="panel-body">
              <form action="../device/<%=result.id%>" method="post">
              <div class="form-group">
                <label>名</label>
                <input type="text" name="name" class="form-control" value="<%=result.name%>">
              </div>
              <div class="form-group">
                <label>UUID</label>
                <input type="text" name="uuid" class="form-control" value="<%=result.uuid%>">
              </div>
              <div class="form-group">
                <label>Major</label>
                <input type="text" name="major" class="form-control" value="<%=result.major%>">
              </div>
              <div class="form-group">
                <label>Minor</label>
                <input type="text" name="minor" class="form-control" value="<%=result.minor%>">
              </div>
              <div class="form-group">
                <label>省</label>
                  <select id="state" name="state" class="form-control">
                      <%
                        var states = ['广东', '广西', '湖北', '湖南'];
                        while (states.length){
                            var state = states.pop();
                            if(state==result.state){
                            %>
                      <option value="<%=state%>" selected><%=state%></option>
                            <%
                            }
                            else{
                            %>
                      <option value="<%=state%>"><%=state%></option>
                            <%
                            }
                        }
                      %> 
                      
                  </select>
              </div>
              <div class="form-group">
                <label>城市</label>
                <select id="city" name="city" class="form-control">
                  <option value="<%=result.city%>" selected><%=result.city%></option>
                </select>
              </div>
              <div class="form-group">
                <label>地区</label>
                <select id="region" name="region" class="form-control">
                    <option value="<%=result.region%>" selected><%=result.region%></option>
                </select>
              </div>
              <div class="form-group">
                <label>街道</label>
                <select id="street" name="street" class="form-control">
                    <option value="<%=result.street%>" selected><%=result.street%></option>
                </select>
              </div>
              <div class="form-group">
                <label>位置</label>
                <input type="text" name="location" class="form-control" value="<%=result.location%>">
              </div>
              <div class="form-group">
                <label>位置类</label>
                <select id="locationType" name="locationType" class="form-control">
                    <%
                    var locationTypes = ['公交站', '公交车', '电梯', '路名牌'];
                    while (locationTypes.length){
                        locationType = locationTypes.pop();
                        if(locationType==result.locationType){
                    %>
                    <option value="locationType%>" selected><%=locationType%></option>
                    <%
                        }else{
                    %>
                    <option value="<%=locationType%>"><%=locationType%></option>
                    <%
                        }
                    }
                    %>
                    
                </select>
              </div>
              <button type="submit" class="btn btn-default">更新</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
  
    </div>
    
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
    $(function(){
        var selectedState = $("#state option:selected").text();
        $.ajax({
        url: "/geo/city/"+selectedState,
        }).done(function(data){
          html = "";
          while (data.length) {
            var city = data.pop();
            if(city!="<%=result.city%>"){
                option = "<option value='"+city+"'>"+city+"</option>";
                html = html + option;
               }
            //code
          }
          $("#city").append(html);
        });
        var selectedCity = $("#city option:selected").text();
        $.ajax({
        url: "/geo/region/"+selectedCity,
        }).done(function(data){
          html = "";
          while (data.length) {
            var region = data.pop();
            if(region!="<%=result.region%>"){
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            }
            //code
          }
          $("#region").append(html);
          });
        var selectedRegion = $("#region option:selected").text();
        $.ajax({
        url: "/geo/street/"+selectedRegion,
        }).done(function(data){
          html = "";
          while (data.length) {
            var street = data.pop();
            if(street!="<%=result.street%>"){
            option = "<option value='"+street+"'>"+street+"</option>";
            html = html + option;
            }
            //code
          }
          $("#street").append(html);
          });
 
 
    })
    
    
    $("#state").change(function(){
        var selectedState = $("#state option:selected").text();
        $("#city").empty();
        $.ajax({
        url: "/geo/city/"+selectedState,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          //alert(data);
          $("#city").empty();
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
      });
      $("#city").change(function(){
        var selectedCity = $("#city option:selected").text();
        $("#region").empty();
        $.ajax({
        url: "/geo/region/"+selectedCity,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          //alert(data);
          $("#region").empty();
          html = "";
          while (data.length) {
            var region = data.pop();
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            //code
          }
          $("#region").append(html);
          });
      });
      $("#region").change(function(){
        var selectedRegion = $("#region option:selected").text();
        $("#street").empty();
        $.ajax({
        url: "/geo/street/"+selectedRegion,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          //alert(data);
          $("#street").empty();
          html = "";
          while (data.length) {
            var street = data.pop();
            option = "<option value='"+street+"'>"+street+"</option>";
            html = html + option;
            //code
          }
          $("#street").append(html);
          });
      });
        
        
    </script>
  </body>
</html>
