 <div class="container content">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default full-width">
            <ol class="breadcrumb panel-heading">
              <li><a href="/device">设备</a></li>
              <li class="active">编辑</li>
            </ol>
            <div class="panel-body">
              <form style="display: none;" action="/device/<%=result.id%>" method="post" name="form">
              <div class="form-group">
                <label>藏宝街标名</label>
                  <% 
                      var cbjTag = result.cbjTag;
                  %>
                <input type="text" name="cbjTag" class="form-control" value="<%=cbjTag%>">
              </div>
                  <input type="button" class="btn btn-primary" value="更新" onClick="javascript:document.form.submit();"/>
                  <input type="button" class="btn btn-default" onClick="javascript:window.history.back()" value="取消"/>
              </form>
            </div>
            <div class="panel-body">
            <table class="table table-striped" id="table">
                <thead>
                    <tr><th>设备编号</th><th>省</th><th>城市</th><th>地区</th><th>街道</th><th>详细位置</th><th>位置类型</th><th>状态</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=result.identifier%></td>
                        <td><%=result.state%></td><td><%=result.city%></td>
                        <td><%=result.region%></td><td><%=result.street%></td>
                        <td><%=result.location%></td>
                        <td><%=result.locationType%></td>
                        <td><%
                            var status = "正常";
                            if(faultDeviceFound){
                                status = "故障";
                            }
                            %>
                            <%=status%>
                            
                        </td>
                    </tr>

                </tbody>
                </table>
            
            </div>
            
            <div class="panel-body">
                <div class="row">
                  
                <%
                while(ads.length){
                    var ad = ads.pop();
                    if(ad.advertisementImage!=null){
                    var image = ad.advertisementImage;
                %>
                    <div class="col-xs-6 col-md-2" style="text-align: center;">
                    <a href="/advertisement/<%=ad.id%>" class="thumbnail">
                      <img src="http://res.cloudinary.com/djdts3tqq/image/upload/v<%=image.imageVersion%>/<%=image.imagePublicId%>.<%=image.imageFormat%>">
                    </a>
                    <span style="align: right;"><%=ad.title%></span>
                    </div>
                
                <%
                    }
                }
                %>
                
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>