<div class="container content">
        <div class="row">
            <div class="col-md-12">
                
                
                <h3>所有留言</h3>
                <%
                    var message = null;
                    while(messages.length){
                        message = messages.pop();
                %>
                <div class="list-group">
                <li class="list-group-item">
                    <a href="/client/<%=message.client.id%>"><%=message.client.name%></a> 
                    
                    <p>
                    日期: <%=moment(message.createdAt).format("YYYY-MM-DD HH:mm:ss")%>    |    
                    用户称呼: <%=message.name%>    |    
                    联系电话: <%=message.contactPhone%>    |    
                    电邮地址: <%=message.email%><br><hr>
                    <big>标题: <%=message.title%></big>
                    </p>
                    <p><%=message.message%></p> 
                </li>
                    <li class="list-group-item">
                    <a class="btn btn-primary" href="/message/updateStatus?status=closed&id=<%=message.id%>">完成</a>
                    <a class="btn btn-primary" href="/message/updateStatus?status=process&id=<%=message.id%>">处理中</a>
                        <span class="badge"><%=req.__(message.status)%></span>
                    </li>
                </div>
                <%
                        
                    }
                %>
                <button class="btn btn-default right" onClick="javascript:window.history.back()">取消</button>
                
            </div>
            
        </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

