<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel full-width" >
                <ol class="breadcrumb panel-heading-cbj">
                  <li>账户管理</li>
                  <li>系统信息</li>
                  <li class="active">创建</li>
                </ol>
                <div class="panel-body">
                    <form class="form-horizontal" id="form" name="form" action="/SystemMsg/<%=result.id%>" method="post">                
                    <div class="form-group">
                    <label class="control-label col-sm-2">题目 <span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="title" id="title" class="form-control full-width" value="<%=result.title%>">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2">内容<span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                        <textarea style="height: 100px;" name="content" id="content" class="form-control full-width">
                            <%=result.content%>
                        </textarea>
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2">有效日期<span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="effectiveAt" id="effectiveAt" class="form-control full-width" value="<%=moment(result.effectiveAt).format("MM/DD/YYYY")%>">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2">失效日期<span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="expiredAt" id="expiredAt" class="form-control full-width" value="<%=moment(result.expiredAt).format("MM/DD/YYYY")%>">
                    </div>
                    </div>
                    </form>
                    <button type="button" class="btn btn-default right" onClick="javascript:window.history.back()" value=""/> 取消 </button>
                    <button type="button" id="submit" class="btn btn-primary right">提交</button>

                </div>
            </div>              
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js">      </script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
      
<script>
        
       
$(document).ready(function(){
    $("#expiredAt").daterangepicker({singleDatePicker: true});
    $("#effectiveAt").daterangepicker({singleDatePicker: true});
    $("#submit").click(function(){
        var title = $("#title").val();
        var content = $("#content").val();
        var errMsg = [];
        if($("#title").val()=="" || $("#content").val()==""){
            errMsg.push("内容和题目不为空");
        }
        if(errMsg.length > 0){
            alert(errMsg.join('\n'));
            return;
        }
        $("#form").submit();
    })
})
</script>


